.consent{
    display: inline-block !important;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 1;
    height: 45px;
    align-items: center;
}

.consent p{
    padding: 8px;
    font-size: 14px;
    color: white;
    margin: 12px 0px 6px;
}



.consent.failed{
    background-color: red;
}

.consent.success{
    background-color: greenyellow;

}

.consent.info{
    border: 1px solid rgb(228, 228, 228);
    background-color: rgba(0, 0, 0, 0.116);
}

@media screen and (max-width:320px){
    .consent{
        height: auto;
    }
}