@import url('http://fonts.cdnfonts.com/css/montserrat');

.header{

    background-color: black;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    margin: 0px;
}
.header h1{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
}