
.card-list{
    width: 98.5%;
    border: 1px solid rgb(238, 238, 238);
    margin-top: 24px;
    display: flex;
    max-height: 420px;
    overflow-x: scroll;

}


.jumia-wrapper h1.sub-header{
    display: block;
    width: calc(100% - 16px);
    margin-left: 16px;
    font-size: 18px;
    text-align: center;
    margin-top: 35px;
    color: rgba(0, 0, 0, 0.627);
}

.jumia-result{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgb(158, 158, 158);
}

.jumia-head-logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    align-self: center;
    margin: 2px;
    align-items: center;
}