.jumia-card{
    display: block;
    border: 1px solid lightgrey;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 350px;
    max-height: 400px;
    margin: 12px 6px;
}

.jumia-card img{
    display: inline-block;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    max-height: 200px;
    margin: 0px;
}

.jumia-card p{
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    padding: 0.875rem;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    white-space: normal; /* Ensure text breaks properly */
    overflow-wrap: break-word;/* Prevent overflow if too much text */
    text-overflow: ellipsis; /* Handle text that is too long */
    max-height: 3rem; /* Limit the height to prevent overflow */
    display: -webkit-box; /* Ensures multi-line ellipsis works */
    -webkit-line-clamp: 3;
    white-space: nowrap;
    line-clamp: 3;
    -webkit-box-orient: vertical; /* Required for ellipsis */
}
.jumia-card strong{
    font-weight: bold;
    font-size: 12px;
    margin:12px 4px;
}