.jumia-product-card{
    width: 98%;
    height: auto;
    border:1px solid rgb(194, 194, 194);
    margin: 3px 1px;
    align-items: center;

}

.jumia h4{
    text-align: left;
    font-weight: bold;
    font-size: 24px;
    color: rgb(48, 48, 48);
    margin-left: 5px;
}

.jumia-product-card img{
    height: 95%;
    align-self: center;
    display: inline-block;
    width: 15%;
}
.jumia-product-card img+div{
    width: 83%;
    padding-top: 12px;
    padding-left: 12px;
    display: inline-block;
    text-align: left;
    padding-bottom: 8px;
    align-self: center;
    align-items: center;
}
.jumia-product-card strong{
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: rgb(27, 27, 27);
    max-width: 90%;
}
.jumia-product-card p{
    font-weight: normal;
    color: rgb(46, 46, 46);
    max-width: 90%;
    display: block;
    margin: 8px 3px;
}
.jumia-product-card h4{
    margin: 3px 0px;
}