.productcard{
    display: inline-block;
    width: 99%;
    height: 400px;
    text-align: center;
    box-shadow: 1px 1px 8px gray;
    margin: 0px 4px;
    margin-bottom: 5px;
    padding-top: 0px;
}
@media screen and (min-width:600px){
    .productcard{
        width: 48%;
    }
}
@media screen and (min-width:1030px){
    .productcard{
        width: 30%;
    }
}
.productcard img{
    margin: 0px;
    height: 60%;
    max-height: 60%;
    margin-bottom: 5px;
}
.productcard h1{
    display: block;
    text-align: center;
    margin: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
}

.productcard strong{
    display: block;
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.btn-preview{
    display: inline-block;
    width: 37%;
    margin: 0px;
    color: white;
    background-color: black;
    text-align: center;
    height: 30px;
}
.btn-cart{
    display: inline-block;
    width: 58%;
    text-align: center;
    margin: 0px;
    margin-left: 3px;
    height: 30px;
}

.productscardlist{
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}