.related-list{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
.related .productcard{
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    height: 380px;
}

.related h2{
    display: block;
    text-align: left;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(41, 41, 41);
    margin-top: 25px;
    margin-bottom: 20px;
}

.related{
    padding-top: 45px;
}

