.related-list{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.related h1.sub-header{
    display: block;
    width: calc(100% - 16px);
    margin-left: 16px;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
}

.related{
    padding-top: 45px;
}

