.review-card {
    display: flex;
    width: 350px;
    min-width: 250px;
    height: auto;
    padding: 16px;
    margin: 16px 8px;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.review-card:hover {
    transform: translateY(-4px);
}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    /* vertical-align: top; */
}

.review-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 16px;
    width: 100%;
    text-align: left;
    vertical-align: top;
}

.review-card h1 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 8px;
    color: #333;
}

.review-card p {
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px;
    color: #666;
    line-height: 1.5;
}
