.searchsection{
    display: inline-block;
    width: 100%;
    text-align: center;

}

.searchfield{
    display: inline-block;
    width: 98%;
    height: 35px;
    margin: 2px 2px 0px 2px ;
    border: 2px solid lightgrey;
    font-size: 16px;
}

.searchfield::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: rgb(180, 180, 180);
    letter-spacing: 0.25px;
}

.activecat{
    display: block;
    text-align: right;
}
.activecat h2{
    display: inline-block;
    height: 25px;
    padding: 8px 12px 6px;
    width: auto;
    min-width: 45px;
    text-align: center;
    margin-right: 3px;
    margin-top: 2px;
    margin-bottom: 0px;
    background-color: lightgrey;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    
}
.allcats{
    display: block;
    margin-top: 20px;
    text-align: left;

}

.allcats h2{
    font-size: 16px;
    font-weight: 500;
    height: 25px;
    padding: 8px 12px 6px;
}

.allcats h2.selected{
    background-color: rgb(134, 134, 134);
    font-size: 16px;
    font-weight: 500;
    color: white;
}