.App {
  text-align: center;
  display: inline-block;
  width: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.null{
  color: lightgray;
  font-size: 18px;
  font-weight: 500;
  display: block;
  text-align: center;
  margin: 35px 0px;
  width: 100%;
}


.horizontal-scroll {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical overflow */
  white-space: nowrap; /* Ensure content stays in a single line */
}

/* Hide scrollbar in most modern browsers */
.horizontal-scroll::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */
}

.horizontal-scroll {
  -ms-overflow-style: none;  /* Hide scrollbar in Internet Explorer and Edge */
  scrollbar-width: none;     /* Hide scrollbar in Firefox */
}