.auth{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.auth form{
    display: inline-block;
    text-align: center;
    width: 95%;
    max-width: 480px;
    border: none;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.103);
    height: auto;
    padding: 0px;
    margin-top: 35px;
}

.auth form .write-up{
    display: block;
    text-align: left;
    margin: 25px 5%;
    font-size: 16px;
    font-weight: 400;
    color: rgb(124, 124, 124);
    letter-spacing: 0.4px;
    line-height: 24px;

}

.auth form .form-status{
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 35px 5% 25px 5%;
    color: rgb(37, 37, 37);
}

.auth form label{
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: 450;
    margin: 25px 10px 15px 5%;
}

.auth form .forget{
display: block;
margin: 3px 5% 25px 10px;
text-align: right;
font-size: 14px;
font-weight: 500;
color: red;
}

.auth form input{
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    margin: 0px;
    width: 90%;
    height: 35px;
    border: 1.5px solid lightgray;

}

.auth form input:focus{
    outline: none;
}

.auth form button{
    display: inline-block;
    margin: 35px 0px 25px 0px;
    text-align: center;
    width:93%;
    height: 40px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    color:white;
    background-color: rgb(105, 105, 255);
    border-radius: 4px;
    padding: 0.5rem 0.875rem;
    border: none;
}

.auth .oauth{
    display: inline-block;
    border: .8px solid rgb(199, 199, 199);
    height: 25px;
    padding: 10px 0px;
    width:91%;
    cursor: pointer;
}

.oauth p{
    width: 80%;
    font-weight: 530;
    margin: 0px;
    height: 21px;
    color: rgb(126, 126, 126);
    display: inline-block;
    cursor: pointer;
}

.oauth .icn{
    display: inline-block;
    cursor: pointer;
}

.auth .switch-state{
    cursor: pointer;
    font-weight: 520;
}
