.preview-failed{
    color: gray;
    font-size: 24px;
}

.product-preview{
    overflow: hidden;
}

.preview-image{
    display: inline-block;
    text-align: center;
    width: 95%;
    aspect-ratio: 1;
    max-height: 450px;
    max-width: 450px;
}
.mini-image{
    height: 35px;
    width: 30px;
    margin-left: 5px;
}
.mini-image:hover{
    border: 1px solid rgb(183, 183, 243);
}
small{
    display: block;
    text-align: left;
    margin-left:6px;
    font-weight: bold;
}
.image-list{
    display: block;
    text-align: center;
    margin-top: 5px;
    border-radius: 7px;
}

p.description{
    font-size: 16px;
    font-weight: 450;
    margin: 10px 0px 25px;
}

.product-preview .name{
    display: block;
    text-align: center;
    margin: 35px 0px 25px 0px;
    font-weight: 550;
}
.preview-price{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

}
.comment{
    display:block;
    height:auto;
    border: 1px solid lightgray;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 8px;
}
.comment-body{
    margin: 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0.5px 2px;
    overflow: hidden;
}
.no-comment{
    font-weight: bolder;
    color: lightgray;
}
.preview-comments h4{
    display: block;
    text-align: left;
    margin: 0px;
    margin-left: 8px;
    margin-bottom:7px ;
    margin-top: 8px;
}
.comment aside{
    display: block;
    text-align: right;
    margin-right: 8px;
    font-size: 12px;
    font-weight: bolder;
}

.reactions{
    display: inline-block;
    width: 95%;
    max-width: 400px;
}

.reaction.active{
    color: blue;
}

a.reaction{
    color: black;
    text-decoration: none;
}

.reactions .reaction{
    display: inline-block;
    width: 100px;
    margin: 12px 15px;
    cursor: pointer;
}

.reactions .reaction:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.reaction p{
    margin: 3px;
}

.checkout-btn{
    color:white;
    background-color: blue;
    border-radius: 2px;
    border: none;
    margin: 35px 0px;
    display: inline-block;
    width: 180px;
    height: 35px;
    font-size: 16px;
    font-weight: 450;
}


.preview .jumia{
    margin-bottom: 150px;
    
}