.preview-failed{
    color: gray;
    font-size: 24px;
}

.product-preview{
    overflow: hidden;
}

.preview-image{
    display: inline-block;
    text-align: center;
    width: 95%;
    aspect-ratio: 1;
    max-height: 450px;
    max-width: 450px;
}
.mini-image{
    width: 120px;
    aspect-ratio: 1;
    margin-left: 5px;
    border-radius: 8px;
}

.product-preview .image-list{
    display: inline-flex;
    width: 95%;
    max-width: 450px;
    padding: 8px;
    overflow-x: scroll;
}


.mini-image:hover{
    border: 1px solid rgb(183, 183, 243);
}
small{
    display: block;
    text-align: left;
    margin-left:6px;
    font-weight: bold;
}

.product-preview .description{
    display: block;
    width: calc(100% - 42px);
    margin-left: 22px;
    padding: 8px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
    color: rgba(0, 0, 0, 0.631);
}

.product-preview .name{
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: 480;
    width: calc(100% - 52px);
    margin: 16px 22px 0px;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}


.preview-price{
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 420;
    color: rgba(0, 0, 0, 0.811);

}
.comment{
    display:block;
    height:auto;
    border: 1px solid lightgray;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 8px;
}
.comment-body{
    margin: 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0.5px 2px;
    overflow: hidden;
}
.no-comment{
    font-weight: bolder;
    color: lightgray;
}
.preview-comments h4{
    display: block;
    text-align: left;
    margin: 0px;
    margin-left: 8px;
    margin-bottom:7px ;
    margin-top: 8px;
}
.comment aside{
    display: block;
    text-align: right;
    margin-right: 8px;
    font-size: 12px;
    font-weight: bolder;
}

.reactions{
    display: inline-block;
    width: 95%;
    max-width: 450px;
}

.reaction.active{
    color: blue;
}

a.reaction, div.reaction{
    color: rgba(0, 0, 0, 0.756);
    text-decoration: none;
    padding: 8px;
}

.reactions .reaction{
    display: inline-block;
    width: 100px;
    margin: 12px 15px;
    cursor: pointer;
}

.reactions .reaction:hover{
    background-color: rgba(0, 0, 0, 0.098);
}

.reaction p{
    margin: 3px;
}

.checkout-btn{
    color:white;
    background-color: blue;
    border-radius: 2px;
    border: none;
    margin: 35px 0px;
    display: inline-block;
    width: 180px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
}


.preview .jumia{
    margin-bottom: 150px;
    
}